/*!
  colortap v0.2.0 (https://colortap.js.org)
  by Five Fifteen (https://fivefifteen.com)
*/

.colortap {
  input[type="color"] {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    z-index: -1;
  }
  
  .colortap-open {
    cursor: pointer;
  }
}
